body {
    background-color:red;
}


*{
    margin: 0;
    padding: 0;
}

ul li {
   
}
ul li a {
    font-size: 1.5rem;
    color: blue;
}

.card-body {
    color: blue;
}
.first {

margin: 4%;

}
li:nth-child(odd) {
    color: red;
}

.bat  {
background-color: rgb(0, 255, 242);
    color: red;
}
.bat:hover {

color: rgb(255, 4, 192);

}

footer {
    margin-top: 3%;

width: 100%;
margin-right: 0;
height: auto;
background-color: rgba(0, 0, 0, 0.651);

}

.fa-instagram{
    color: wheat;

}